.right_column
  .form_element_group.publishing
    %h2 Publishing Options
    = f.check_box :published, :label => 'Is Published?'
    = f.check_box :excluded_from_nav, :label => 'Exclude from Navigation?'
    
.center_column
  %h2= @cms_page.new_record? ? "New Page" : "Editing \"#{@cms_page.label}\""
  = render :partial => 'cms_admin/flash_message'
  = f.error_messages
  .form_element_group.vertical
    = f.text_field :label, :id => (@cms_page.new_record? ? "slugify" : nil)
    - unless CmsPage.count == 0 || @cms_page == CmsPage.root
      = f.text_field :slug, :id => 'slug'
        
  .form_element_group.vertical
    - unless CmsPage.count == 0 || @cms_page == CmsPage.root
      = f.select :parent_id, @cms_page.pages_for_select(nil, 0, true)
    = f.select :redirect_to_page_id, [['---', nil]] + @cms_page.pages_for_select
    = f.select :cms_layout_id, CmsLayout.options_for_select, {}
  #form_blocks
    = render :partial => 'form_blocks', :locals => {:f => f}
  .submit
    = f.submit 'Save All Changes', :id => 'save'
    = f.submit 'Preview Page', :id => 'preview', :name => 'preview'
    or 
    = link_to 'Return to List', cms_admin_pages_path