- @layout ||= @page.cms_layout
- @layout && tags = @layout.tags(:view => self, :page => @page).reject{|t| !t.class.has_form?}.group_by(&:tag_type)

- unless (cms_block_tags = tags.delete('cms_block')).blank?
  .form_element_group.page_block
    - cms_block_tags.each do |tag|
      .form_element
        .label= tag.form_label
        .field= tag.form_input
      
      
- unless (cms_page_block_tags = tags.delete('cms_page_block')).blank?
  .form_element_group.page_block
    - cms_page_block_tags.each do |tag|
      .form_element
        .label= tag.form_label
        .field= tag.form_input
  
- # outputting any other tag that has a form element
- tags.each do |type, tags|
  .form_element_group{:class => type.to_s}
  - tags.each do |tag|
    .form_element
      .label= tag.form_label
      .field= tag.form_input
