- @layout.tags.select{|t| !t.type.match(/^cms_(.*?_)?block$/).blank? }.each do |tag|
  
  - block_content = @page.cms_blocks.with_label(tag.label).first.content rescue ''
  
  - case tag.datatype
    - when 'text'
      .form_element.text_area
        .label= label_tag tag.label.titleize
        .field= text_area_tag "page[blocks][#{tag.label}][content]", block_content, :rows => 20
        
    - when 'string'
      .form_element.text_area
        .label= label_tag tag.label.titleize
        .field= text_field_tag "page[blocks][#{tag.label}][content]", block_content
        
    - when 'rich_text'
      .form_element.text_area
        .label= label_tag tag.label.titleize
        .field= text_area_tag "page[blocks][#{tag.label}][content]", block_content, :rows => 20, :class => 'mceEditor'