.right_column
.center_column
  = link_to 'Add New Page', new_cms_admin_page_path, :class => 'top_button'
  
  %h2 Pages
  = render :partial => 'cms_admin/flash_message'
  - if (@sites)
    - @sites.each do |site|
      .tree_structure
        %h3
          = h(site.label)
        = render(:partial => 'tree_branch', :object => @cms_pages[site.id])
    - if (@cms_pages[nil])
      .tree_structure
        %h3
          Default Site
        = render(:partial => 'tree_branch', :object => @cms_pages[nil])
  - else
    .tree_structure
      = render(:partial => 'tree_branch', :object => @cms_pages)