- item ||= nil
- if item.blank?
  - is_checked = false
- else  
  - is_checked = item.cms_categories.collect(&:id).include?(category.id)
  - item_type = item.class.to_s.underscore
  
- category_parent_ids = category.ancestors.collect{|i| "'#{i.id}'"}.join(', ')
- category_child_ids = category.descendants.collect{|i| "'#{i.id}'"}.join(', ')

%li
  = hidden_field_tag "#{item_type}[attr_category_ids][#{category.id}]", 0, :id => nil
  
  %label
    = check_box_tag "#{item_type}[attr_category_ids][#{category.id}]", 1, is_checked, :onchange => "toggle_category_selections(this, new Array(#{category_parent_ids}), new Array(#{category_child_ids}))", :id => "cms_category_id_#{category.id}"
    = category.label
  
  %ul{:id => dom_id(category)}  
    - unless category.children.empty?
      - category.children.each do |sub_category|
        = render :partial => 'cms_admin/categories/category', :locals => {:category => sub_category, :item => item }