- item ||= nil
- if item.blank?
  - is_checked = true
- else  
  - is_checked = item.cms_categories.collect(&:id).include?(category.id)
  - item_type = item.class.to_s.underscore

%li
  = hidden_field_tag "#{item_type}[attr_category_ids][#{category.id}]", 0
  
  %label
    = check_box_tag "#{item_type}[attr_category_ids][#{category.id}]", 1, is_checked, :id => dom_id(category, :checkbox), :onchange => "check_parents_if_checked(this, new Array(#{category.ancestors.collect{|c| "'#{c.id}'"}*','}))"
    = category.label
  
  %ul{:id => dom_id(category)}  
    - unless category.children.empty?
      - category.children.each do |sub_category|
        = render :partial => 'cms_admin/categories/category', :locals => {:category => sub_category, :item => item }