= form.error_messages

.form_element_group.horizontal
  .form_element.text.large
    .label= form.label :label, 'Label'
    .field= form.text_field :label, :onkeyup => (@cms_category.new_record? ? "slugify_field($('cms_category_slug'), this.value)" : nil)

  .form_element.text
    .label= form.label :slug, 'Slug'
    .field= form.text_field :slug

  .form_element.select
    .label= form.label :parent_id, 'Parent'
    .field= form.select :parent_id, [['---', nil]] + CmsCategory.categories_for_select

  .form_element.text_area
    .label= form.label :description, 'Description'
    .field= form.text_area :description