- container_id = tree_branch.first.try(:parent).try(:id).to_i

%ul{:id => "category_#{container_id}_branch"}
  - tree_branch.each do |category|
    
    %li{:id => "category_#{category.id}"}
      
      = render :partial => 'toggle_link', :object => category
      
      .item
        .icon
            
        = link_to category.label, edit_cms_admin_category_path(category), :class => 'label'
        
        %span.action_links
          [
          = link_to 'Add Child Category', new_cms_admin_category_path + "?parent_id=#{category.id}"
          |
          = link_to 'Edit', edit_cms_admin_category_path(category)
          |
          = link_to 'Remove', cms_admin_category_path(category), :method => 'delete', :confirm => 'Are you sure you want to remove this category?'
          ]
          
        .categorizations
          Categorized Pages/Attachments:
          = link_to category.cms_page_categorizations.count, cms_admin_category_path(category) + '#pages'
          \/
          = link_to category.cms_attachment_categorizations.count, cms_admin_category_path(category) + '#attachments'
        
        
      - if session[:cms_category_tree] && session[:cms_category_tree].member?(category.id.to_s)
        %div{:id => "category_#{category.id}_children"}
          = render :partial => 'tree_branch', :object => category.children
      - else
        %div{:id => "category_#{category.id}_children", :style => 'display: none'}
          Please wait. I'm loading stuff...