%li
  - if attachment.blank?
    - is_selected = true
  - else
    - is_selected = attachment.cms_category_items.collect(&:cms_category_id).include?(category.id)
    
  = check_box_tag "attachment[category_items][][cms_category_id]", category.id, is_selected, :id => dom_id(category, :checkbox), :onchange => "check_parents_if_checked(this, new Array(#{category.ancestors.collect{|c| "'#{c.id}'"}*','}))"

  = category.label
  
  %ul{:id => dom_id(category)}  
    - unless category.children.empty?
      - category.children.each do |sub_category|
        = render :partial => 'category', :locals => {:category => sub_category, :attachment => attachment }