= link_to 'Add New Attachment', new_cms_admin_attachment_path, :class => 'big_button'
  
%h2 Attachments

- form_for :filter, :url => cms_admin_attachments_path, :html => {:method => :get, :class => 'filter_form'} do |f|
  = f.select :category_id, CmsCategory.categories_for_select, { :include_blank => '-- All Categories --', :selected => @category_id.to_i }
  = f.submit 'Filter'
  
= will_paginate @cms_attachments

%table.formatted
  %tr
    %th.first{:colspan => 2} Attachment Label
    %th Type
    %th Filesize
    %th.last
  
  - @cms_attachments.each do |attachment|
    %tr
      %td
        .icon
      %td.main
        = link_to attachment.label.titleize, edit_cms_admin_attachment_path(attachment), :class => 'label'
        %br
        = link_to attachment.file.url, attachment.file.url, :class => 'url'
      %td
        = attachment.file_content_type
      %td
        = number_to_human_size(attachment.file_file_size)
      
      %td.action_links
        = link_to 'Edit', edit_cms_admin_attachment_path(attachment)
        |
        = link_to 'Remove', cms_admin_attachment_path(attachment), :method => 'delete', :confirm => 'Are you sure you want to remove this attachment?'
        
= will_paginate @cms_attachments