= link_to 'Add New Attachment', new_cms_admin_attachment_path, :class => 'big_button'

%h2 Attachments

.tree_structure
  %ul#snippet_list
    - @attachments.each do |attachment|
      %li{:id => "attachment_#{attachment.id}"}
        
        .action_links
          = link_to 'Remove', cms_admin_attachment_path(attachment), :method => 'delete', :confirm => 'Are you sure you want to remove this attachment?', :class => 'remove'
          = link_to 'Edit', edit_cms_admin_attachment_path(attachment), :class => 'edit'
          
        .item
          = link_to attachment.label, edit_cms_admin_attachment_path(attachment), :class => 'label'
          = render :partial => 'details', :object => attachment