- layout ||= details

.details
  
  = link_to_function '+ show details', "$('layout_details_#{layout.id}').show(); $(this).hide()"
  
  %div{:id => "layout_details_#{layout.id}", :style => 'display: none'}
    %table
      %tr
        %th Last Updated:
        %td= "#{time_ago_in_words(layout.updated_at)} ago"
