= form.error_messages

.form_element_group.horizontal
  .form_element.text.large
    .label= form.label :label, 'Title'
    .field= form.text_field :label

  .form_element.select
    .label= form.label :parent_id, 'Parent Layout'
    .field= form.select :parent_id, @layout.extendable_for_select
  
  .form_element
    .label= form.label :app_layout, 'App Layout'
    .field= form.select :app_layout, CmsLayout.app_layouts_for_select

  .form_element.text_area
    .label= form.label :content, 'Content'
    .field= form.text_area :content
    