= link_to "Add New #{@section_label}", new_cms_admin_page_path + "?parent_id=#{@page.id}", :class => 'big_button'

%h2= @page.label

= will_paginate @pages

%table.formatted
  - @pages.each do |page|
    %tr
      %td
        .icon{:class => page.published_status}
      
      %td.main
        = link_to page.label, edit_cms_admin_page_path(page), :class => 'label'
        %br/
        = link_to page.full_path, page.full_path, :class => 'url'
        
      %td.action_links
        = link_to 'Edit', edit_cms_admin_page_path(page)
        |
        = link_to 'Remove', cms_admin_page_path(page), :method => 'delete', :confirm => 'Are you sure you want to remove this page?'

= will_paginate @pages