= link_to('Add New Site', new_cms_admin_site_path, :class => 'top_button')

%h2 Edit Site
= render :partial => 'cms_admin/flash_message'
- form_for(@site, :url => { :action => :update }) do |form|
  = render(:partial => form)
  .submit
    = form.submit 'Save Site'
    or 
    = link_to('Return to List', cms_admin_sites_path)
