!!!
%html
  %head
    %title
    = stylesheet_link_tag 'cms_master'
    = javascript_include_tag 'prototype', 'effects', 'controls', 'dragdrop', 'cms/utilities', 'codemirror/codemirror', 'tiny_mce/tiny_mce', 'cms/mce_init', 'cms/codemirror_init'
    = calendar_date_select_includes

    = yield :head
    
  %body{ :id => "#{params[:controller]}_#{params[:action]}".idify }
    
    .header
      %h1= link_to application_name, '/cms-admin'
      
    .content_wrapper
      .left_navigation_column
      
        %ul.primary
          %li= active_link 'Layouts', cms_admin_layouts_path, :self
          %li= active_link 'Pages', cms_admin_pages_path, {'cms_admin/pages' => %w(index new edit create update)}
          %li= active_link 'Snippets', cms_admin_snippets_path, :self
          %li= active_link 'Attachments', cms_admin_attachments_path, :self
          %li= active_link 'Categories', cms_admin_categories_path, :self
        
        - unless CmsPage.sections.blank?
          %ul.secondary
            - CmsPage.sections.all.each do |page|
              %li= active_link page.label, cms_admin_section_path(page.id), :self
        
        - unless ComfortableMexicanSofa::Config.additional_cms_tabs.blank?
          %ul.secondary
            - ComfortableMexicanSofa::Config.additional_cms_tabs.each do |label, url|
              %li= active_link label, url, :self
      
      .content_column
        - flash.each do |type, value|
          .flash{:class => type.to_s}
            = value
        
        = yield
    
    .footer
      The Working Group &copy; 2009