!!!
%html
  %head
    %title
    = stylesheet_link_tag 'cms_master'
    = javascript_include_tag :defaults, 'tiny_mce/tiny_mce', 'cms_mce_init'

    = yield :head
    
  %body#cms_admin_layout
    
    .header
      %h1= application_name
      
      %ul.main_nav
        %li= active_link 'Layouts', cms_admin_layouts_path, :self
        %li= active_link 'Pages', cms_admin_pages_path, {'cms_admin/pages' => %w(index new edit create update)}
        %li= active_link 'Snippets', cms_admin_snippets_path, :self
        %li= active_link 'Categories', cms_admin_categories_path, :self
        %li= active_link 'Attachments', cms_admin_attachments_path, :self
        
        - ComfortableMexicanSofa::Config.additional_cms_tabs.each do |label, url|
          %li= active_link label, url, :self
          
    .content
      
      - flash.each do |type, value|
        .flash{:class => type.to_s}
          = value
      
      = yield
    
    .footer
      The Working Group &copy; 2009