!!!
%html
  %head
    %title
    = stylesheet_link_tag 'cms_master'
    = javascript_include_tag 'prototype', 'effects', 'controls', 'dragdrop', 'cms/utilities', 'codemirror/codemirror', 'ckeditor/ckeditor', 'cms/ckeditor_init', 'cms/codemirror_init'
    = calendar_date_select_includes

    = yield :head
    
  %body{ :id => "#{params[:controller]}_#{params[:action]}".idify }
    
    .header
      %h1= link_to application_name, '/cms-admin'
      
    .content_wrapper
      .left_navigation_column
      
        %ul.primary
          %li= active_link_to 'Layouts', cms_admin_layouts_path
          %li= active_link_to 'Pages', cms_admin_pages_path, :active => {:when => [['cms_admin/pages'], %w(index new edit create update)]}
          %li= active_link_to 'Snippets', cms_admin_snippets_path
        
        - unless CmsPage.sections.blank?
          %ul.secondary
            - CmsPage.sections.all.each do |page|
              %li= active_link_to page.label, cms_admin_section_path(page.id)
        
        - unless ComfortableMexicanSofa::Config.additional_cms_tabs.blank?
          %ul.secondary
            - ComfortableMexicanSofa::Config.additional_cms_tabs.each do |label, url|
              %li= active_link_to label, url
      
      .content_column
        - flash.each do |type, value|
          .flash{:class => type.to_s}
            = value
        
        = yield
    
    .footer
      The Working Group &copy; 2009